<%# banner %>
<div>
<%= render "shared/banner_profile" %>

<% if @user == current_user %>
  <%= link_to "Editar Perfil", edit_user_registration_path, class: "btn btn-secondary mb-3" %>
<% end %>
</div>

<%# meus programas %>
<div class="profile-programs d-flex flex-column">
  <div class="profile-programs-title mb-4">
    <h3 class="m-0">meus programas de mentoria</h3>
  </div>
  <div class="profile-programs-cards mb-5">
    <%= render "shared/card_small" %>
  </div>
  <%# minhas inscrições %>
</div>
<% if @user == current_user %>
<div class="profile-subscriptions d-flex flex-column">
  <div class="profile-subscriptions-title mb-4">
    <h3>minhas inscrições</h3>
  </div>
  <div class="profile-subscriptions-cards mb-5">
    <%= render "shared/card_small" %>
  </div>
  <% end %>
</div>

