// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #253664;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #D9D9D9;
$dark-gray: #767676;
$white: #FFFFFF;


// guide-me colors

// primary:

$primary-01: #e9ebf0;
$primary-02: #cbcfda;
$primary-03: #a1a9bc;
$primary-04: #4c5a80;
$primary-05: #253664; //COR PRINCIPAL DO SITE
$primary-06: #1a2647;
$primary-07: #151f39;
$primary-08: #11182d;

// neutral:

$neutral-01: #ffffff;
$neutral-02: #f0f0f0;
$neutral-03: #dadada;
$neutral-04: #c1c1c1;
$neutral-05: #8f8f8f;
$neutral-06: #494949;
$neutral-07: #191919;
$neutral-08: #050505;
