// Define variables for your color scheme

// For example:
$red: #c21518;
$blue: #253664;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #D9D9D9;
$dark-gray: #767676;
$white: #FFFFFF;


// guide-me colors

// primary:

$primary-01: #e9ebf0;
$primary-02: #cbcfda;
$primary-03: #a1a9bc;
$primary-04: #4c5a80;
$primary-05: #253664; //COR PRINCIPAL DO SITE
$primary-06: #1a2647;
$primary-07: #151f39;
$primary-08: #11182d;

// secondary:

$secondary-01: #fceeea;
$secondary-02: #f7cbbe;
$secondary-03: #f3b29f;
$secondary-04: #ed8e73;
$secondary-05: #e97958;
$secondary-06: #e4572e;
$secondary-07: #cf4f2a;
$secondary-08: #a23e21;

// neutral:

$neutral-01: #ffffff;
$neutral-02: #f0f0f0;
$neutral-03: #dadada;
$neutral-04: #c1c1c1;
$neutral-05: #8f8f8f;
$neutral-06: #494949;
$neutral-07: #191919;
$neutral-08: #050505;