<div class="container">
  <h1>adicionar novo programa</h1>
  <%= render "form", program: @program, class: "simple-form" %>
  <br>

  <div>
    <%= link_to "Back to program", programs_path %>
  </div>
</div>
