  <%= render "shared/banner_mentor" %>

  <div>
    <button class="btn btn-flat" type="button" data-toggle="collapse" data-target="#collapsibleContent" aria-expanded="false" aria-controls="collapsibleContent">
      add new program
    </button>

    <div class="collapse mt-3" id="collapsibleContent">
      <%= render "form", program: @program, class: "simple-form" %>
      <br>
    </div>
  </div>
