<div id="banner-home" class="py-5">
  <div class="banner-heading row justify-content-between align-items-center">
    <div class="col-lg-6">
      <div>
        <h1>explore <span class="banner-secondary-05">news directions</span> for your career</h1>
        <h5>find mentoring programs and learn from the best in each field</h5>
      </div>
      <div class="button-container pt-3">
        <% if user_signed_in? %>
          <%= link_to "explore programs", programs_path, class: "btn btn-ghost button-banner" %>
        <% else %>
          <div class="d-flex flex-column flex-md-row gap-3">
            <%= link_to "explore programs", programs_path, class: "btn btn-ghost button-banner mb-1 mb-md-0 mr-md-3" %>
            <%= link_to "register", new_user_registration_path, class: "btn btn-flat button-banner" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6 text-center order-lg-1">
      <%= image_tag "illustration-home.svg", id: "illustration-home", class: "d-none d-lg-block float-end text-end" %>
    </div>
  </div>
</div>
