<div id="banner-profile" class="py-5">
  <div class="container banner-heading justify-content-center">
    <div class="row align-items-center">
      <div class="col-12 col-sm-2 text-center mb-3 mb-sm-0 avatar-container">
        <%= image_tag "teste", id: "avatar-profile", class: "avatar-large img-fluid" %>
        <%# <%= cl_image_tag @user.photo.key, id: "avatar-profile", class: "avatar-large img-fluid" %> 
      </div>
      <div class="col-12 col-sm-10 text-sm-left">
        <h1><%= @user.name %></h1>
        <h5><%= @user.job %></h5>
      </div>
    </div>
  </div>
</div>
