<div id="banner-program" class="py-5">
  <div class="banner-heading row justify-content-between align-items-center">
    <div class="col-lg-6">
      <div id="banner-program-text">
        <h1><%= @program.name %></h1>
      </div>
      <div class="button-container pt-3">
        <% if user_signed_in? %>
        <% else %>
          <div class="both-buttons d-flex flex-column flex-md-row gap-3">
            <%= link_to "subscribe", new_user_registration_path, class: "btn btn-flat m-auto text-decoration-none d-block" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6 text-center order-lg-1">
      <%= image_tag "illustration-program-page.svg", id: "illustration-program", class: "d-none d-lg-block float-end text-end" %>
    </div>
  </div>
</div>
