<div id="banner-mentor" class="py-5">
  <div class="banner-heading row justify-content-between align-items-center">
    <div class="col-lg-6">
      <div>
        <h1>turn your knowledge into <span class="banner-secondary-05">connections</span></h1>
        <h5>join guide.me to make new paths possible</h5>
      </div>
    </div>
    <div class="col-lg-6 text-center order-lg-1">
      <%= image_tag "illustration-home.svg", id: "illustration-home", class: "d-none d-lg-block float-end text-end" %>
    </div>
  </div>
</div>
