<div class="card-mentor">

  <div class="card-mentor-user">
    <h1> mentor </h1>
    <%= image_tag "avatar.svg" %>
  </div>

  <div class="card-mentor-infos">
    <p><%= @program.name %></p>
    <p><%= @program.description %></p>
  </div>

  <div class="card-mentor-text">
    <p> <%= @program.description %>
    </p>
  </div>
</div>
