
<div class="category-menu d-none d-md-block">
  <%= link_to "Todos", programs_path, class: "btn-ghost-filter" %>
  <% %w[Ruby JS CSS PMI Produtividade C# Empregos Exterior Python Mindset].each do |category| %>
    <%= link_to category, programs_path(category: category), class: "btn-ghost-filter" %>
  <% end %>
</div>
