.banner-primary-03 {
  color: $primary-03;
}

.banner-secondary-05 {
  color: $secondary-05;
}

.banner-heading h5 {
  color: $neutral-06;
}

#banner-home {
  border-bottom: 2px solid $neutral-05;
}

#illustration-home {
  width: 350px;
}

#illustration-program {
  width: 350px;
}

.avatar-large:hover {
  transition: transform 0.2s ease;
  transform: scale(1.1);
}

.program-description {
  width: 40%;
}

// telas maiores
@media screen and (min-width: 576px) {
  .banner-heading h1 {
    color: $primary-05;
    font-size: 56px;
    font-weight: 700;
  }
  
  .banner-heading h5 {
    color: $neutral-06;
  }
}


//telas menores
@media screen and (max-width: 575px) {
  .banner-heading h1 {
    color: $primary-05;
    font-size: 40px;
    font-weight: 700;
  }
  
  .banner-heading h5 {
    color: $neutral-06;
  }
}