.banner-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-heading h1{
  color: $primary-05;
  font-size: 56px;
  font-weight: bold;
}
.banner-heading h5{
  color: $neutral-05;
}

#banner-home, #banner-profile {
  border-bottom: 2px solid $neutral-05;
}

#illustration-home {
  width: 350px;
}

.banner-avatar {
  width: 2rem;
}