.btn {
  font-weight: 600;
}

// btn-flat

.btn-flat {
  color: $neutral-01;
  padding: 8px 24px;
  border-radius: $border-radius-lg;
  background: $primary-05;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $primary-06;
  color: $primary-01;
}

.btn-flat:active {
  background: $primary-08;
  color: $neutral-01;
}
.btn-flat:focus {
  background: $primary-05;
  color: $neutral-01;
  box-shadow: 0px 0px 0px 4px $primary-03;
}

// btn-ghost

.btn-ghost-filter {
  color: $primary-05;
  border: 2px solid $primary-05;
  padding: 4px 12px;
  border-radius: 5px;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.btn-ghost {
  color: $primary-05;
  border: 2px solid $primary-05;
  padding: 8px 24px;
  border-radius: $border-radius-lg;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  color: $primary-05;
  border: 2px solid $primary-05;
  background-color: $primary-01;
}
.btn-ghost:active {
  background: $primary-08;
  color: $neutral-01;
}
.btn-ghost:focus {
  background: $primary-01;
  color: $primary-05;
  box-shadow: 0px 0px 0px 4px $primary-05;
}

.btn-login {
  text-align: center;
}

// button-container

.button-container {
  display: flex;
  gap: 0px 16px;
}

// button-banner

.button-banner {
  min-width: 200px;
}


// button delete
.btn-delete {
  color: $red;
  border: 2px solid $red;
  padding: 8px 24px;
  border-radius: $border-radius-lg;
  transition: opacity 0.3s ease;
}

.btn-delete:hover {
  color: $red;
  border: 2px solid $red;
  background-color: $primary-01;
}
.btn-delete:active {
  background: $red;
  color: $primary-01;
}
.btn-delete:focus {
  background: $secondary-01;
  color: $red;
}