.card-large {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $primary-02;
  font-weight: bolder;
  border-radius: 8px;
  height: 332px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
}

.card-large:hover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $primary-02;
  font-weight: bolder;
  border-radius: 8px;
  height: 332px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease;
  transform: scale(1.025);
}

.card-large-header {
  display: flex;
  align-items: center;
  background-color: $primary-01;
  color: $primary-05;
  height: 70px;
  padding-left: 16px;
}

.card-large-header h5 {
  font-size: 18px;
  text-decoration: none;
}

.card-large-header h5:hover {
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
}

.card-large-header:first-child {
  border-radius: 8px 8px 0 0;
}

.card-large-text-container {
  font-size: 16px;
  font-weight: 350;
  color: $neutral-06;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  display: flex; 
  justify-content: center;
  align-items: start;
  margin-top: 16px;
}

.card-large-text {
  margin: 0;
  white-space: normal;
}

.card-large-user {
  display: flex;
  align-items: flex-start;
  padding: 16px;
  position: relative;
}

.image-container {
  position: absolute;
  bottom: 16px;
  left: 16px;
  display: flex;
  align-items: center;
}

.card-large-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.image-container:hover img{
  transition: transform 0.2s ease;
  outline: 1px solid $secondary-02;
}

.card-large:hover .image-container img {
  transition: transform 0.2s ease;
  transform: scale(1.20);
}

.card-large-user-info {
  display: flex;
  flex-direction: column;
  margin-left: 68px;
}

.card-large-user-info-link {
  color: $secondary-05;
  font-weight: 600;
  text-decoration: none;
}
.card-large-user-info-link:hover {
  color: $secondary-05;
  font-weight: 800;
  text-decoration: none;
}

.card-large-user-info-job {
  color: $neutral-06;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-decoration: none;
  word-break: break-word;
}
