.card-mentor {
  overflow: hidden;
  height: 500px;
  width: 450px;
  border: 1px solid $primary-02;
  // border-width: medium;
  // box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 15px;
  grid-template-rows: 70px 1fr 80px;
}

.card-mentor-user {
  border-bottom: 1px solid $primary-02;
}

.card-mentor-text {
  font-size: 14px;
  font-weight: 350;
  color: $neutral-05;
  // display: -webkit-box;
  // -webkit-line-clamp: 8;
  // -webkit-box-orient: vertical;
  font-size: 16px;
  font-weight: 350;
  color: $neutral-06;
  // overflow: hidden;
  // text-overflow: ellipsis;
  margin-top: 20px;
}


.card-mentor-name {
  font-size: 18px;
  margin-bottom: 20px;
}

.card-mentor-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  outline: 1px solid $neutral-05;
}

.card-mentor-infos {
  margin-right: 20px;
}

.program-text {
  margin-right: 40px;
  width: 65%;
}


@media screen and (max-width: 575px) {
  .program-page {
    display: flex;
    flex-direction: column;
  }

  .program-text {
    margin-bottom: 24px;
    width: 100%;
  }

  .card-mentor {
    width: 100%;
    height: fit-content;
  }
}

.card-mentor-title {
  color: $primary-05;
  text-decoration: none;
}
.card-mentor-title:hover {
  color: $primary-05;
  font-weight: 700;
  text-decoration: none;
}

.card-mentor-job {
  color: $neutral-06;
  font-size: 18px;
}
.card-mentor-company {
  color: $neutral-05;
  font-size: 16px;
}
