.card-profile {
  overflow: hidden;
  height: 500px;
  width: 350px;
  border: solid #253664;
  border-width: medium;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  padding: 15px;
  grid-template-rows: 70px 1fr 80px;
}

.card-profile-text {
  font-size: 14px;
  font-weight: 350;
  color: $neutral-05;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  font-weight: 350;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 40px;
}

.card-profile-infos {
  color: $neutral-06;
  font-weight: 400;
  text-decoration: none;
  text-decoration: none;
  word-break: break-word;
  margin-top: 40px;
}
