
.category-menu {
  display: flex;
  flex-wrap: wrap; /* Isso permitirá que os itens se envolvam quando não houver espaço suficiente */
  margin-top: 20px;
  gap: 10px; /* Espaçamento entre os botões */
  justify-content:flex-start;

}
