.footer {
  background-color: $neutral-01;
  border: 2px solid $neutral-05;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100px;
  padding: 25px 50px;
  color: rgba(0,0,0,0.3);
}
