.edit-user-form{
  justify-content: left;
  width: 60%;
}

.text-area {
  width: 100%;
  min-height: 200px;
}


.cancel-title {
  padding-left: 6px;
}

@media screen and (max-width: 575px) {
  .edit-user-form{
    justify-content: left;
    width: 100%;
  }
  
}