.navbar-lewagon {
  justify-content: space-between;
  background: $white;
  border-bottom: 2px solid $dark-gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: $primary-05;
  font-weight: 700;
}

.nav-text {
  margin: auto 6px;
}

.navbar {
  background-color: $neutral-01;
  position: sticky;
  top: 0;
  z-index: 1000;
}