.navbar-lewagon {
  justify-content: space-between;
  background: $white;
  border-bottom: 2px solid $dark-gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: $primary-05;
  font-weight: 700;
}

.nav-link-secondary {
  color: $secondary-04;
  margin-right: 16px ;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 600;
  text-decoration: none;
}

.nav-link:hover {
  color: $primary-07;
  font-weight: 800;
}
.nav-link-secondary:hover {
  color: $secondary-04;
  font-weight: 700;
  text-decoration: none;
}

.nav-text {
  margin: auto 0;
}

.navbar {
  background-color: $neutral-01;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.dropdown-menu .dropdown-item {
  display: flex;
  justify-content: end;
}

.dropdown-item:hover {
  background-color: $primary-01;
  color: $secondary-05;
}